<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskOverflow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Todos -->
    <div class="todos">
        <h2>My Tasks</h2>
        {% for task in tasks|reverse %}
            {% if task.completed == False %}
            <!-- Checkbox -->
            <div class="todo-item">
                <form action="{{ url_for('toggle', index=tasks.index(task)) }}" method="POST" style="display:inline;">
                    <input type="checkbox" id="todo{{ idx }}" name="completed" onchange="this.form.submit()">
                </form>
                <div>
                    <span>{{task["date"]}}</span>
                    <h3><label for="todo{{ tasks.index(task) }}">{{task["name"]}}</label></h3>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        
        <form action="/" method="POST" class="add-task">
            <input type="text" name="task" placeholder="Add a new task..." required>
            <button type="submit">Add</but>
        </form>

    </div>
    
    
</body>
</html>